@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

html, body{
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

body{
    background-color: #D37E91;
    background: linear-gradient(45deg, #D37E91, #FFE8EE);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #FFE8EE;
    width: 400px;
    height: auto;
    padding: 20px;
    margin: 50px auto;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 7px 5px 10px 0px #0000003b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*FORMULÁRIO*/
form {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-tittle{
    position: relative;
    color: #ad5064;
    font-size: 2em;
    text-shadow: 1px 3px 8px rgb(255, 255, 255);
    font-weight: 500;
    font-family: 'Cinzel';
}


.form-tittle::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 80px;
    background: linear-gradient(45deg, rgb(255, 163, 192), #ad5064);
    bottom: -4px;
}


/*INPUT*/
input {
    border: none;
    padding: 6px 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.194);
    border-bottom: 2px solid #D37E91;
    cursor: pointer;
}

input[name="SingIn"], 
input.btn{
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    color: #8f3b4d;
    transition: 1s ease;
}

input[name="SingIn"]:hover, 
input.btn:hover {
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    color: #eac2cb;
    background-color: #8f3b4d;
}

input::placeholder {
    color: #ad5064;
    font-family: "Sora", sans-serif;
    font-size: 0.9em;
}

input:focus {
    outline: #eac2cb;
    background-color: #eac2cb;
    border: 1px solid #eac2cb;
}

/*LINKS*/
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.links p{
    font-weight: 600;
    color: #ad5064;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.174);
}

button{
    border: none;
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    color: #8f3b4d;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.324);
    transition: 1s ease;
    cursor: pointer;
}

button:hover{
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    color: #eac2cb;
    background-color: #8f3b4d;
}

/*ICONS*/
i.fas{
    color: #ad5064;
}

i.fab {
    color: #8f3b4d;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    transition: .5s ease;
}

i.fab:hover {
    color: #D37E91;
}



label {
    color: #8f3b4d;
    font-size: 0.8em;
    cursor: pointer;
}

.or{
    font-weight: 800;
    color: #8f3b4d;
}

.recover {
    margin-top: 10px;
    margin-bottom: 15px;
}

.recover a{
    text-decoration: none;
    color: #ad5064;
    font-family: "Sora", sans-serif;
    transition: 0.8s ease;
}

.recover a:hover {
    color: #eac2cb;
}